/* Home Right */
.foto-profil {
  margin: 100px 50px 50px 50px;
  animation: morph 9s ease-in-out infinite;
  background-image: url("../../public/assets/img/foto-profil-2.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  border: 3px solid #2d2e32;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  height: 25rem;
  position: relative;
  transition: all 1s ease-in-out;
  width: 25rem;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

/* Home page teks animation */
.container-teks {
  padding: 10px 50px;
}

.brand-name {
  width: 450px;
}

.teks-name {
  font-size: 20px;
  font-weight: 600;
  min-width: 280px;
  width: 450px;
}

.teks-name span {
  position: relative;
}

.teks-name span::before {
  content: "developer";
  color: #147efb;
  animation: words 25s infinite;
}

.teks-name span::after {
  content: "";
  position: absolute;
  width: calc(100% + 8px);
  height: 105%;
  background-color: #f9f9f9;
  border-left: 2px solid #000;
  right: -8px;
  animation: cursor 0.7s infinite, typing 25s steps(14) infinite;
}

@keyframes cursor {
  to {
    border-left: 2px solid #fff;
  }
}

@keyframes words {
  0%,
  20% {
    content: "programmer";
  }
  21%,
  40% {
    content: "front-end";
  }
  41%,
  60% {
    content: "web development ";
  }
  61%,
  80% {
    content: "developer ";
  }
  81%,
  100% {
    content: "gamer";
  }
}

@keyframes typing {
  10%,
  14%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }
  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 8px);
  }
}

@media screen and (max-width: 768px) {
  .home-section {
    padding: 0;
    padding-top: 50px;
  }

  .home-left {
    height: 100px;
    padding: 0px 20px;
    margin-top: -50px;
  }

  .container-teks {
    padding: 0;
  }

  .foto-profil {
    margin: 0 10px 0 10px;
  }
}
